@import "mixins";

.Products-display {
    @include center();
    flex-direction: column;
    row-gap: 2rem;
    padding: 2rem 0;
    padding-bottom: 4rem;
    h2 {
        font-size: 1.5rem;
    }
}

.products-display-container {
    height: 80%;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 0.8rem;
}
